.container {
  display: flex;
  align-items: center;
  gap: 100px;
}

.imgContainer {
  flex: 1;
  height: 500px;
  position: relative;
}
.img {
  object-fit: contain;
}

.formContainer {
  flex: 1;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form input,
.form textarea {
  background-color: var(--bgsoft);
  border: none;
  padding: 20px;
  color: var(--text);
  border-radius: 10px;
}

.form input[type="submit"] {
  background-color: var(--btn);
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}

